@font-face {
  font-family: "EB Garamond";
  src: url("../font/EBGaramond-Regular.ttf") format("truetype");
}

body {
  margin: 0;
  font-family: "EB Garamond", Georgia, serif;
  font-weight: 300;
  height: 100%;
  box-sizing: border-box;
}

main {
  position: relative;
  font-size: 1.2rem;
  padding: 3% 5% 3% 5%;
  max-width: 1440px;
  overflow: hidden;
}

h1 {
  color: #333333;
  font-size: 2.7rem;
  padding-bottom: 2rem;
}

h2 {
  color: #333333;
  font-size: 1.9rem;
  padding-bottom: 1.3rem;
}

#banner-img {
  display: block;
}

#title-bar {
  display: flex;
  align-items: center; 
  width: 15rem;
  height: 1.7rem;
  position: absolute;
  inset: 2% 5%;
}

#banner-icon {
  position: relative;
  float: left;
  top: 0px;
  left: 0px;
}

#banner-txt {
  white-space: nowrap;
  padding: 0;
  margin: 0;
  line-height: 1.3;
  position: relative;
  top: -0.2rem;
  left: 0.5rem;
  font-size: 1.5rem;
  height: 1.4rem;
  width: 12rem;
  color: white;
  text-decoration: none;
  text-transform: none;
  font-variant: small-caps;
  letter-spacing: 0.1rem;
}

nav {
  display: inline-block;
  width: 100%;
  align-items: center;
  background-color: rgb(40, 50, 80);
  overflow: hidden;
}

.navbar-li {
  display: inline;
}

.navbar-li a {
  width: 5rem;
  color: white;
  padding: 1.2rem 1rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  float: left;
  transition: color 1000ms;
}

/* Navigation text highlights */
.navbar-li a.active {
  /* background-color: rgba(160, 175, 105, 1); */
  background:
    radial-gradient( ellipse farthest-corner at right bottom,
                #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%,
                  transparent 80%),
    radial-gradient( ellipse farthest-corner at left top,
                #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  color: white;
}

.navbar-li a:hover:not(.active) {
  color: rgb(255, 240, 77);
  background-color: #7b2828;
}

.navbar-li a:focus {
  outline: 2px solid #FFD700; /* Gold outline for focus */
  outline-offset: 2px;
  background-color: #7b2828; 
  color: rgb(255, 240, 77); 
}

.image-control {
  max-width: 400px;
  float: left;
  padding: 0rem 2rem 2rem 0rem;
}

.txt-box {
  color: #555555;
  line-height: 1.7em;
}

.txt-control {
  padding-bottom: 2.0em;
}

.txt-control-email {
  padding-bottom: 2rem;
}

.img-div {
  display: inline-block;
  position: relative;
}

.img-div img {
  display: block;
  width: 100%;
  height: auto;
} 

.txt-overlay {
  position: absolute;
  top: 4rem;
  left: 4rem;
  width: 40%;
  background-color: white;
  font-size: 20px;
  padding: 2rem 2rem 0rem 2rem;
}

.txt-overlay2 {
  position: absolute;
  top: 4rem;
  right: 4rem;
  width: 20%;
  background-color: white;
  font-size: 20px;
  padding: 2rem 2rem 2rem 2rem;
}

.review-section {
  position: relative;
  font-size: 1.2rem;
  padding: 0rem 2rem 0rem 2rem;
  max-width: 1440px;
  overflow:visible;
}

.coment-grid {
  display: grid;
}

.comment-box {
  position: relative;
  float: left;
  border: solid 1px rgb(42, 42, 42);
  box-shadow: 4px 7px 5px rgb(140, 170, 170);
  border-radius: 6px;
  padding: 2rem;
  margin: 0rem 1rem 1.5rem 1rem;
  width: 8rem;
  height: 10rem;
}

.comment-box p {
  font-size: 1rem;
  font-style: italic;
  color: #555555;
}

.comment-name {
  text-align: right;
  margin-top: 1rem;
}

#photo-div {
  clear: both;
}

#photo-div img {
  float: left;
  width: auto; 
  height: 200px; 
}

#photo-div a:focus {
  outline: 3px solid #FFD700;
}

.clear-float {
  clear: both;
}

/* Small screen navigation bar */
@media screen and (max-width: 500px) {
  .navbar-li a {
    width: 100%;
    text-align: center;
    padding: 0.7rem 0.7rem 0.7rem 0rem;
  }
}

/* Tablet, vertical */
@media screen and (max-width: 800px) {
  .image-control {
    width: 100%;
    max-width: 100%;
    float: none;
    margin: 0rem;
  }
  .txt-overlay {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 2rem 0rem 2.5rem 0rem;
  }
  .txt-overlay2 {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 2rem 0rem 0rem 0rem;
  }
  #photo-div img {
    width: 100%;
    height: auto;
    margin: 0rem 0rem 1rem 0rem;
  }
}

.div-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 2rem;
  line-height: 2rem;
  border: solid 1px black;
  border-radius: 4px;
  margin: 0rem 2rem 2rem 3rem;
}

#spec-button {
  font-variant: small-caps;
  width: 100%;
  height: 100%;
  margin: auto;
  color: black;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border-radius: 4px;
  transition: color 300ms, background-color 300ms;
}

#spec-button:hover {
  color: white;
  background-color:#ccbf7a;
}

#spec-button:focus {
  outline: 2px solid #FFD700;
  outline-offset: 2px;
  background-color: #ccbf7a;
  color: white;
}

#return-button {
  display: inline-block;
  font-family: "EB Garamond", Georgia, serif;
  font-variant: small-caps;
  text-align: center;
  width: 12rem;
  height: 2rem;
  line-height: 0rem; /* Vertical offset if needed */
  border: 1px solid black;
  border-radius: 4px; /* Rounded corners */
  margin: 0rem 2rem 2rem 3rem;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: color 300ms, background-color 300ms; /* Smooth transitions */
  font-size: 1.0rem;
}

#return-button:hover {
  color: white; 
  background-color: #ccbf7a; 
}

#return-button:focus {
  outline: 2px solid #FFD700;
  outline-offset: 2px;
  background-color: #ccbf7a;
  color: white;
}

footer {
  display: flex;
	flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 3em;
  color: white;
  background-color: rgb(40, 50, 80);
}

